*, *::after, *::before {
    box-sizing: border-box;
}

html {
    margin: 0 10px;
}

option {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.states2, .states3, .removeState {
    display: none;
}

form p {
    margin: 5px;
    font-size: 15px;
    text-align: center;
}

form .selections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.states, .states2, .states3, .addState, .removeState, .resetbtn {
    height: 40px;
    margin: 8px;
}

.maxResults {
    width: 10%;
    text-align: center;
    height: 30px;
    padding-right: 2px;
}

.resetsubmit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitreset {
    display: flex;
    flex-direction: column;
}

.resetbtn {
    width: 116px;
}

.submitbtn {
    width: 100px;
    height: 50px;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    background-color: orange;
    color: white;
}

.submitbtn:focus {
    background-color: rgb(87, 87, 190);
}

div .addremove {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.results {
    text-align: center;
    display: none;
}

.red {
    color: red;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .flex {
        display: flex;
        flex-direction: column;
    }
    .maxResults {
        width: 40px;
    }
    .states, .states2, .states3 {
        height: 20px;
    }
}